<!-- <div class="card-grid">
    <app-card
      [badgeTop]="'Post 12th / Intermediate'"
      [badgeMiddle]="'1st, 2nd, 3rd Year'"
      [title]="'Learn like top IITians and achieve high-paid software jobs'"
      [description]="'A structured program to prepare you like top-tier engineers.'"
      [startDate]="'14th Apr 2025'"
      [note]="'🔥 Limited Seats Available'"
      [buttonText]="'Request Callback'"
     
    ></app-card>
  
    <app-card
      [badgeTop]="'Graduates'"
      [badgeMiddle]="'Final Year'"
      [title]="'A Proven Program to make you a Software Developer'"
      [description]="'Applicable to any branch or degree. Career-ready in months.'"
      [startDate]="'14th Apr 2025'"
      [note]="'🔥 Limited Seats Available'"
      [buttonText]="'Book a Free Demo'"
      
    ></app-card>
  
    <app-card-reusable
      [badgeTop]="'Post 12TH / Intermediate (PCM)'"
      [badgeMiddle]="'ICSE, CBSE, or Any Recognised Board'"
      [title]="'B.Tech Computer Science With AI/ML & Data Science Specialisation (On-Campus)'"
      [description]="'Admissions open for 2025 batch in 10+ campuses.'"
      [startDate]="'For 2025 Batch'"
      [note]="'🔥 10+ Campuses across India'"
      [buttonText]="'Apply Now'"
      
    ></app-card-reusable>
  
    <app-card-reusable
      [badgeTop]="'Working Professionals'"
      [badgeMiddle]="'Career Switchers'"
      [title]="'Upgrade to Software with Weekend Learning'"
      [description]="'Perfect for busy professionals. Learn at your own pace.'"
      [startDate]="'21st Apr 2025'"
      [note]="'🔥 Evening & Weekend Batches'"
      [buttonText]="'Enroll Now'"
      
    ></app-card-reusable>
  </div>
   -->
   <app-cards></app-cards>


<app-chatwithus></app-chatwithus>
